* {
    flex: auto auto auto;
    /*border: solid 1px red;*/
}

html {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    

    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: space-evenly;
    background-color: black;

    height: max-content;
    width: max-content;
}

#grid {
    border: solid 4px black;
    display: inline-grid;

    background-color: white;
}
